<!DOCTYPE html>
<html>
    <head>
        <title>Posted By</title>
    </head>
    <body>
        <form style='text-align: center'>
            <h1>User:-</h1>
            <pre> 
                Posted By:<%= postedBy.UserID%>
                Full Name:<%= postedBy.FullName %>
                National ID:<%= postedBy.NID %>
                Mobile:<%= postedBy.Mobile%>
                Email:<%= postedBy.Email %>
                Date Of Signup:<%= postedBy.DateOfSignUp%>
            </pre>
            <a href="/ad">Back</a>
        </form>
    </body>
</html>